import * as Styled from './styles'
// import {} from './props'

const {{pascalCase name}} = () => (
  <Styled.Container>
    <h1>{{pascalCase name}}</h1>
  </Styled.Container>
)

export default {{pascalCase name}}
